@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService


@{
    ViewData["Title"] = "Home Page";
}

@*Simple Acces Quick Checks*@
@if (User.Identity.IsAuthenticated)
{
    <h1>User is Authenticated</h1>
}
else
{
    <h1>User is Not Authenticated</h1>
}

@if ((await authorizationService.AuthorizeAsync(User, "Claim.DoB")).Succeeded)
{
    <h1>DoB Claim User</h1>
}
